#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin: 0;
}

body {
  transition: background-color 0.5s ease;
  /* background-color: rgb(226, 48, 107); */
}

.Nav-SideHero {
  display: flex;
  gap: 15px;
  align-items: flex-start;
  width: 89%;
  padding: 50px;
}

.Nav {
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.SideHero {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 11%;
  text-align: start;
  background: rgb(51, 51, 51);
  border-radius: 10px;
  border: 1px solid black;
  position: sticky;
  box-shadow: 0 0 20px black;
  z-index: 9;
}

.SideHero a {
  color: white;
}

.MainHero {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.MainNews {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px black;
}

.MainNews button {
  background-color: rgba(0, 0, 0, 0.671);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.MainNews-Button {
  width: 100%;
  position: relative;
}

.MainNews img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  max-width: 1281px;
}

.MainNews-SlideBtn {
  position: absolute;
  top: 50%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  background-color: #32323294;
  padding: 20px;
  border-radius: 10px;
  /* text don't stay at same spot  */
}

.MainNews-SlideBtn h2 {
  color: white;
  margin: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.MainNews-SlideBtn p {
  color: white;
  margin: 0;
  max-width: 300px;
  height: 110px;
  font-size: 16px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.MainNews-SlideBtn button {
  color: white;
}

.Inner-MainHero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding-top: 15px;
  gap: 30px;
}

.ProfileImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.ProfileImgOffline {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

.FriendsListCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.FriendsListCard p {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
}

.FriendsCard {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.FriendsOfflineCard {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.FriendsCardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

.OfflineCardWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
}

.ProfileHover {
  font-size: 12px;
}

.ProfileHoverOffline {
  font-size: 12px;
}

.Profile-popup {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%; /* position above the text */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: translateX(0);
  border-radius: 10px;
}

.Profile-popupOffline {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 10px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%; /* position above the text */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: translateX(0);
  border-radius: 10px;
}

.Profile-popup li {
  list-style: none;
  align-items: start;
}

.FriendsCardWrapper:hover .Profile-popup {
  visibility: visible;
  opacity: 1;
}

.OfflineCardWrapper:hover .Profile-popupOffline {
  visibility: visible;
  opacity: 1;
}

.addBtn {
  cursor: pointer;
}

.FriendsPanel {
  display: flex;
  flex-direction: column;
}

.OnlinePlus {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.popup-box {
  width: 90%;
  margin: 5px 0 15px 0;
  padding: 8px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-box input {
  width: 120px;
}

.GameHero {
  width: 1640px;
  height: 515px;
  overflow: hidden;
  border-radius: 10px;
}

.GameHeroContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.GameHeroContainer h3 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.GameHeroCard {
  box-shadow: 0 0 11px black;
  display: flex;
  flex-direction: column;
  height: 450px;
  border-radius: 10px;
  position: relative;
  margin: 0 10px;
}

.GameCardDetail {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1px;
  bottom: 11px;
  left: 10px;
  width: 50%;
  align-items: flex-start;
}

.GameTitleCard {
  margin: 0;
  color: white;
  font-size: 11px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.GameTypeCard {
  font-size: 11px;
  margin: 0;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.GameTagContainer {
  display: flex;
  width: 100%;
}

.GameTagCard {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.664);
  width: 100%;
  border-radius: 23px;
  font-size: 8px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.logo-search-bar {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #ffffff2c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Logout {
  margin-top: 30px;
}

.about-us-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 100px;
  padding-bottom: 100px;
}

.about-us {
  display: flex;
  flex-direction: column;
  padding: 100px;
  width: 20%;
  height: 100%;
  max-height: 400px;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.about-us h1 {
  font-size: 50px;
}

.about-us p {
  font-size: 20px;
}

.notification-badge {
  background-color: red;
  color: white;
  font-size: 0.8rem;
  margin-left: 6px;
  padding: 2px 6px;
  border-radius: 50%;
}

@media screen and (max-width: 1400px) {
  body {
    background-color: red;
  }

  .MainNews-SlideBtn h2 {
    font-size: 1.1rem;
  }

  .MainNews-SlideBtn p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 790px) {
  body {
    background-color: blue;
  }

  .GameHeroCard {
    width: 300px;
  }
}
