.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 25px; */
  background: #333;
  color: #fff;
  width: 100%;
  border-radius: 10px;
}

.logo {
  margin: 0;
}

.logo-search-bar {
  padding-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li a {
  color: white;
  font-weight: 700;
}

.nav-links li {
  position: relative;
}

.nav-links li::after {
  content: '';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -15%;
  left: 0;
  background-color: #58a6ff;
  transition: all 0.4s ease-in-out;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links a:link {
  text-decoration: none;
}

.nav-links a:active {
  color: orange;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.nav-link-dropdown {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.nav-link-dropdown ul {
  padding: 0 40px 0 0;
}

.dropdown-menu {
  position: absolute;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  flex-direction: column;
  /* grid-template-columns: repeat(2, 1fr); */
  gap: 4px;
  width: 100px;
  right: 2px;
}

.dropdown-menu li {
  /* padding: 10px; */
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.dropdown-toggle {
  padding: 3px 4px;
  cursor: pointer;
}

.searchbar-mag {
  display: none;
}

.theme-red {
  background-color: red;
}
.theme-green {
  background-color: green;
}
.theme-blue {
  background-color: blue;
}
.theme-yellow {
  background-color: yellow;
}
.theme-light {
  background-color: white;
}
.theme-dark {
  background-color: black;
  color: white;
}

.account-username {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account-username-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  color: black;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  list-style: none;
}

.account-username-dropdown li a {
  color: black;
}

.account-username-dropdown li {
  border: 1px solid black;
  padding: 10px 0;
}

.account-username-dropdown li::after {
  display: none;
}

.account-username:hover .account-username-dropdown {
  display: block;
  padding: 0;
  width: 80px;
  text-align: center;
  margin-top: 4px;
  z-index: 40;
}

.navbar-profile-img {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
}

.logout-nav {
  cursor: pointer;
}

@media (max-width: 900px) {
  .navbar ul {
    padding-left: 20px;
  }

  .navbar h2 {
    font-size: 15px;
  }

  .dropdown-toggle {
  }

  .search-bar input {
    width: 100px;
  }

  .search-bar button {
    display: none;
  }

  .searchbar-mag {
    display: block;
    background-color: #58a6ff;
    width: 20px;
    padding: 5px;
    border-radius: 4px;
  }
  .nav-link-dropdown ul {
    padding: 0 10px 0 0;
  }
}
@media (max-width: 690px) {
  .dropdown-toggle {
    width: 20px;
    height: 20px;
    padding: 1px 0;
  }

  .dropdown-toggle svg {
    width: 12px;
  }

  .search-bar input::placeholder {
    font-size: 7px;
  }

  .search-bar input {
    width: 50px;
    height: 6px;
  }

  .searchbar-mag {
    display: block;
    background-color: #58a6ff;
    width: 10px;
    height: 10px;
    padding: 5px;
    border-radius: 4px;
  }

  .nav-link-dropdown ul {
    padding: 0;
  }

  @media (max-width: 450px) {
    .navbar h2 {
      font-size: 8px;
    }

    .logo-search-bar {
      padding-left: 5px;
    }

    .nav-link-dropdown {
      padding-right: 5px;
    }

    .nav-link-dropdown ul {
      font-size: 7px;
      gap: 6px;
    }

    .navbar-profile-img {
      width: 20px;
      height: 20px;
    }
  }
}
