.Timer {
  font-size: 39px;
}

@keyframes flash {
  0% {
    background-color: red;
    color: white;
  }
  50% {
    background-color: white;
    color: red;
  }
  100% {
    background-color: red;
    color: white;
  }
}

.last-minute {
  animation: flash 1s infinite;
}

.inputNumber{
  width: 60%;
}

.QuickBtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 1200px){
  .QuickBtn{
    display: flex;
    flex-direction: column;
  }  
}

