.account-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-page h1 {
  color: white;
  font-size: 50px;
}

.account-info {
  display: flex;
  flex-direction: column;
  width: 97%;
  justify-content: start;
  color: white;
  padding-left: 40px;
  gap: 30px;
}

.account-details {
  display: flex;
  justify-content: start;
  gap: 40px;
  align-items: flex-end;
}

.account-details h1 {
  font-size: 40px;
  margin: 0;
}

.account-details h3 {
  font-size: 30px;
  margin: 0;
}

.profile-img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 50%;
  margin-top: 20px;
  object-fit: cover;
}

.edit-buttons {
  margin-top: 30px;
  background-color: transparent;
  border: 3px solid #58a6ff;
  color: white;
  font-weight: 700;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

.edit-buttons:hover {
  background-color: #58a6ff;
  cursor: pointer;
}

.acct-img {
  justify-items: center;
}

.username-display-section {
  justify-items: center;
}

.password-cancel-btn {
  display: flex;
  flex-direction: column;
}

.pic-selector {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.pic-option {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s;
}

.pic-option:hover {
  transform: scale(1.1);
}

.delete-acct-div {
  margin-top: 45px;
}

.delete-acct-btn {
  color: #fff;
  background-color: #0000;
  border: 3px solid red;
  border-radius: 4px;
  margin-top: 30px;
  padding: 8px 12px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
